@charset "UTF-8";

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7463631a;
    padding: 16px;
}

.header__logo {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

.header__logo em {
    font-size: 10px;
    display: block;
}

.header__nav li {
    display: inline;
}

.header__nav li a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px;
    position: relative;
}

.header__nav li a:before {
    content: "";
    width: calc(100% - 28px);
    height: 1px;
    position: absolute;
    left: 14px;
    bottom: 10px;
    transform: scaleX(0);
    transition: all .3s;
}

.header__nav li a:hover:before {
    transform: scaleX(1);
}

.header__nav__mobile {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.header__nav__mobile span {
    display: block;
    width: 40px;
    height: 2px;
    margin-top: 19px;
    position: relative;
}

.header__nav__mobile span:before {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 6px;
    transition: width .3s;
}

.header__nav__mobile span:after {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: width .3s;
}

@media (max-width: 800px) {
    .header__nav {
        display: none;
    }

    .header__nav.show {
        display: block;
    }

    .header__nav.show ul {
        display: block;
        position: absolute;
        right: 0;
        top: 68px;
        background-color: #7463631a;
        z-index: 10000;
        min-width: 150px;
        padding: 20px 0;
    }

    .header__nav.show li {
        display: block;
        text-align: right;
    }

    .header__nav.show li a {
        display: inline-block;
        padding: 10px;
    }

    .header__nav.show+.header__nav__mobile span:before {
        width: 20px;
    }

    .header__nav.show+.header__nav__mobile span:after {
        width: 20px;
    }

    .header__nav__mobile {
        display: block;
    }
}

#intro {
    height: 60vh;
    background-color: #e2e2e2;
    /* 임시 */
}

.intro__inner {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 30px;
}

.intro__title {
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
}

.intro__text {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.intro__text .text {
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    position: relative;
    z-index: 100;
    transition: all .3s;
    cursor: all-scroll;
}

.intro__text:hover .text {
    opacity: 0.2;
}


#skill{
    background-color: #b7a0a0;
    /* 임시 */
}

.skill__inner {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.skill__title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 40%;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    border-bottom: 4px solid;
    margin-bottom: 100px;
 }

.skill__title em {
    font-size: 20px;
    font-weight: 400;
    line-height: 2px;
}

.skill__desc {
    width: 50%;
}
.skill__desc span {
    font-size: 30px;
    line-height: 1;
    font-weight: 900;
    line-height: 1.3;
}

.skill__desc h3 {
    font-size: 24px;
    text-decoration: underline;
    text-underline-position: under;
    margin-bottom: 20px;
}

.skill__desc p {
    margin-bottom: 30vh;
    font-size: 17px;
}

@media (max-width: 800px) {
    .skill__inner {
        flex-direction: column;
    }

    .skill__title {
        width: 100%;
        margin-bottom: 10px;
        font-size: 30px;
        height: auto;
        top: 68px;
    }

    .skill__desc {
        width: 100%;
    }

    .skill__desc span {
        font-size: 20px;
    }
}

#site{
    /* 임시 */
    background-color: #a97e7e;
}

.site__inner {
    padding: 40px 0;
    margin: 0 30px;
}

.site__title {
    position: sticky;
    top: 70px;
    left: 0;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    border-bottom: 4px solid;
    margin-bottom: 50px;
}

.site__title em {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
}

.site__item {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    left: 0;
}

.site__item.s1 {
    top: 180px;
    background-color: #742d2d;/* 임시 */
}

.site__item.s2 {
    top: 200px;
    background-color: #501717;/* 임시 */
}

.site__item.s3 {
    top: 220px;
    background-color: #7c1919;/* 임시 */
}

.site__item.s4 {
    top: 240px;
    background-color: #362a2a;/* 임시 */
}

.site__item .num {
    font-size: 50px;
    line-height: 1;
    font-weight: 900;
    position: absolute;
    left: 20px;
    top: 20px;
}

.site__item .text {
    text-align: center;
    margin-bottom: 16px;
}

.site__item .text{
    font-size: 40px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
}

.site__item .title {
    margin-bottom: 1rem;
}

.site__item .btn a {
    text-decoration: underline;
    text-transform: uppercase;
    transition: all .3s;
}

.site__item .info {
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 98%;
    margin-left: 1px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.site__item .info span {
    font-size: 12px;
    padding: 3px 0;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .site__title {
        width: 100%;
        font-size: 30px;
        height: auto;
        top: 68px;
        z-index: 1000;
    }

    .site__item.s1 {
        top: 140px;
    }

    .site__item.s2 {
        top: 160px;
    }

    .site__item.s3 {
        top: 180px;
    }

    .site__item.s4 {
        top: 200px;
    }

    .site__item .num {
        font-size: 80px;
        left: 20px;
        top: 20px;
    }

    .site__item .text>div {
        font-size: 26px;
    }

    .site__item .info {
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        padding: 5px 0;
    }
}

#port {
    width: 100%;
    overflow: hidden;
    background-color: #bfb3a0;
    /* 임시 */
}

.port__inner {
    padding: 16px 0;
    margin: 0 30px;
}

.port__title {
    position: sticky;
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 36px;
    border-bottom: 4px solid;
}

.port__title em {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
}

.port__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.port__item {
    width: 500px;
    height: 70vh;
    padding: 20px 0;
}

.port__item .img {
    display: block;
    margin-top: -20px;
    transition: margin-top .3s;
    background-color: #fbffa8;
}

.port__item:hover .img {
    margin-top: 0;
}

.port__item .img img {
    border-radius: 5px;
    transition: all .3s;
}


.port__item .title {
    font-size: 24px;
    text-align: center;
    padding: 14px 0;
    font-weight: 700;
    border-bottom: 2px solid #000;
    margin-bottom: 16px;
}

.port__item .desc {
    font-size: 1rem;
}

.port__item .site {
    border: 1px solid #000;
    display: block;
    text-align: center;
    padding: 1px 24px;
    margin-top: 24px;
}


@media (max-width: 800px) {
    .port__title {
        width: 100%;
        margin-bottom: 16px;
        font-size: 30px;
        height: auto;
        top: 68px;
        z-index: 1000;
    }

    .port__item {
        width: 400px;
        padding: 40px 30px;
        height: auto;
    }
}

#contact {
    margin: 50px 0;
}

.contact__inner {
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 30px;
}

.contact__title {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 800;
    white-space: nowrap;
}

.contact__text {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.contact__text .text {
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    position: relative;
    z-index: 100;
    transition: all .3s;
    cursor: all-scroll;
}


@media (max-width: 800px) {
    .contact__title {
        display: none;
    }
    .contact__text .text {
        font-size: 24px;
        padding: 0 16px;
        word-break: break-all;
    }

    .contact__inner {
        justify-content: center;
    }
}

#footer {
    background-color: #a99b9b;
    /* 임시 */
}

.footer__inner {
    padding: 36px 0;
    margin: 0 30px;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    margin: 0 0 150px;
}

.footer__info .left {
    width: 40%;
}

.footer__info .left .title {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__info .left .desc {
    font-size: 12px;
    padding-top: 20px;
}

.footer__info .right {
    width: 50%;
}

.footer__info .right h3 {
    margin-bottom: 40px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 700;
}

.footer__info .right li a {
    padding: 14px 0;
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
}

.footer__info .right li em {
    font-size: 12px;
    padding-left: 10px;
    opacity: 0;
    transition: all .3s;
}

.footer__info .right li:hover em {
    opacity: 1;
}

.footer__right {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .footer__info {
        flex-direction: column;
    }

    .footer__info .left {
        width: 100%;
    }

    .footer__info .left .desc {
        margin-bottom: 40px;
    }

    .footer__info .right {
        width: 100%;
    }
}

